<div class="container">
  <div>
    <h2>Items List</h2>
    <ul class="list-group">
      <li *ngFor="let item of items" class="list-group-item">
        {{ item.name }}
        {{ item.description }}
        <button
          type="button"
          class="btn btn-sm btn-warning dang"
          (click)="openEditForm(item?.id ?? 0)"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger dang"
          (click)="deleteItem(item?.id ?? 0)"
        >
          Delete
        </button>
      </li>
    </ul>
    <button
      type="button"
      class="btn btn-primary dangerous"
      (click)="openNewForm()"
    >
      Create New Item
    </button>
  </div>

  <app-item-form
    *ngIf="!isLoading && !error && selectedItem"
    [item]="selectedItem"
    (submitted)="getItems()"
  ></app-item-form>

  <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
</div>
